doctype html
html
    head
        title Experiencia - DL
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="assets/css/main.css")
        noscript
            link(rel="stylesheet", href="assets/css/noscript.css")

    body(class="is-preload")

        // Header
        header#header
            a(title="Diego Laura", href="index.pug") Carlos
            nav
                ul
                    li
                        a(href="index.pug") Inicio
                    li
                        a(href="experiencia.pug", class="active") Experiencia

        // Wrapper
        #wrapper

            // Main
            section#main.wrapper
                .inner
                    section
                        h2 Experiencias
                        p
                            span.image.left
                                a(href="https://www.clubprog.com")
                                    img(src="images/oracle.jpeg")
                            br
                            br
                            strong Empresa:
                            |  Oracle Consulting Support and Enterprise Solutions Peru S.A.C.
                            br
                            strong Proyecto:
                            |  Plataforma Virtual - ORACLE PERÚ S.A.C.
                            br
                            strong Fecha:
                            |  17-07-2023 hasta 16-08-2023
                            br
                            br
                            br

                        p
                            span.image.right
                                a(href="https://github.com/cesarmayta/movilidad_back")
                                    img(src="images/Movilidad.jpeg")
                            br
                            strong Empresa:
                            |  Tecsup
                            br
                            strong Proyecto:
                            |  App Movilidad - Backend
                            br
                            strong Descripcion:
                            |  Me dedique a la parte del backend, con un grupo de compañeros, donde realize la parte del API REST FRAMEWORK en Django, trabajando con una base de datos relacional MySQL
                            br
                            strong Fecha:
                            |  05-06-2023 hasta 10-07-2023
                            br
                            br

        // Footer
        footer#footer.wrapper.alt
            .inner
                ul.menu
                    li &copy; Diego. Todos los derechos reservados.

    // Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
