doctype html
html
    head
        title Habilidades - DL
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="assets/css/main.css")
        noscript
            link(rel="stylesheet", href="assets/css/noscript.css")

    body(class="is-preload")

        // Header
        header#header
            a(title="Diego Laura", href="index.html") Carlos
            nav
                ul
                    li
                        a(href="index.pug") Inicio
                    li
                        a(href="habilidades.pug", class="active") Habilidades

        // Wrapper
        #wrapper

            // Main
            section#main.wrapper
                .inner
                    h2 Habilidades
                    br
                    br
                    .column
                        h3 Back-End
                        img.rounded-image(src="images/django.jpg")
                        p Django
                        img.rounded-image(src="images/nodejs.jpeg")
                        p Node JS
                        img.rounded-image(src="images/python.jpeg")
                        p Python
                        img.rounded-image(src="images/GIT.jpg")
                        p Git
                        img.rounded-image(src="images/MySQL.jpeg")
                        p MySQL
                    .column
                        h3 Front-End
                        img.rounded-image(src="images/html.jpeg")
                        p HTML
                        img.rounded-image(src="images/css.jpeg")
                        p CSS
                        img.rounded-image(src="images/reactjs.jpeg")
                        p React
                        img.rounded-image(src="images/android-studio.jpg")
                        p Android Studio
                        img.rounded-image(src="images/javascript.jpeg")
                        p JavaScript
                    .column
                        h3 Herramientas
                        img.rounded-image(src="images/VSC.jpeg")
                        p Visual Studio Code
                        img.rounded-image(src="images/AWS.jpeg")
                        p AWS
                    .column
                        h3 Gestion de Proyectos
                        img.rounded-image(src="images/SCRUM.jpeg")
                        p SCRUM
                        h4 Colaboración en Equipo
                        p Habilidad para trabajar en equipo, me comunico eficazmente y colaboro en proyectos de desarrollo.
                        h4 Resolución de Problemas
                        p Capacidad para identificar y resolver problemas de manera efectiva.

        // Footer
        footer#footer2.wrapper.alt
            .inner
                ul.menu
                    li &copy; Diego. Todos los derechos reservados.

    // Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/browser.min.js")
    script(src="assets/js/breakpoints.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
